<main class="main">
  <div class="content">
  	<div class="left-side">
			<h1>Hello, Directives</h1>
    	<router-outlet></router-outlet>
   	</div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a class="pill" routerLink="for-directive">For Directive Component</a>
        <a class="pill" routerLink="if-directive">If Directive Component</a>
        <a class="pill" routerLink="switch-directive">Switch Directive Component</a>
        <a class="pill" routerLink="ngmodel-directive">NgModel Directive Component</a>
        <a class="pill" routerLink="ngclass-directive">NgClass Directive Component</a>
        <a class="pill" routerLink="ngstyle-directive">NgStyle Directive Component</a>
      </div>
    </div>
  </div>
</main>