<main class="main">
  <div class="content">
      <div class="left-side">
      <h1>Hello, Directives</h1>
      <router-outlet></router-outlet>
      
     </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <div class="pill-group">
          <a class="pill" href="for-directive"><span>For Directive Component</span></a>
          <a class="pill" href="if-directive"><span>If Directive Component</span></a>
          <a class="pill" href="switch-directive"><span>Switch Directive Component</span></a>
          <a class="pill" href="ngmodel-directive"><span>NgModel Directive Component</span></a>
          <a class="pill" href="ngclass-directive"><span>NgClass Directive Component</span></a>
          <a class="pill" href="ngstyle-directive"><span>NgStyle Directive Component</span></a>
        </div>
      </div>
    </div>
  </main>