<div style="margin:10px">
	<h2>NGX Cookie Service Demo</h2>
	<hr />
	<p>This demo sets/gets cookie <b>X-Auth-Token</b> cookie. Default it sets empty string cookie value but you can set it below</p>
	<section>
		<div>
			<p><b>Cookie Present</b>: {{ cookieService.check('X-Auth-Token') ? 'Yes' : 'No' }}</p>
			<p><b>Get Cookie</b>: {{ cookieService.get('X-Auth-Token') }}</p>

      <p><b>Second Cookie Present</b>: {{ cookieService.check('X2-Auth-Token') ? 'Yes' : 'No' }}</p>
			<p><b>Get Second Cookie</b>: {{ cookieService.get('X2-Auth-Token') }}</p>

			<h3>Set Cookie:</h3>
			<input [formControl]="cookieInput" type="text" style="margin-inline: 10px" />
			<button (click)="setCookie()">Set X-Auth-Token Cookie</button>

      <h3>Set Second Cookie:</h3>
			<input [formControl]="cookieInput" type="text" style="margin-inline: 10px" />
			<button (click)="setCookie2()">Set X2-Auth-Token Cookie</button>

			<h3>Delete Cookie(s):</h3>
			<button (click)="cookieService.delete('X-Auth-Token')" style="margin-inline: 10px">Delete X-Auth-Token Cookie</button>
			<button (click)="cookieService.deleteAll()">Delete All Cookies</button>
		</div>
	</section>
</div>
