<main class="main">
  <div class="content">
    <div class="left-side">
    <router-outlet></router-outlet>
   </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a class="pill" routerLink="home" routerLinkActive="active-pill"><span>Home Component</span></a>
        <a class="pill" routerLink="settings" routerLinkActive="active-pill"><span>Settings Component</span></a>
        <a class="pill" routerLink="profile" routerLinkActive="active-pill"><span>Profile Component</span></a>
      </div>
    </div>
  </div>
</main>


 
