<main class="main">
  
  <div class="content">
    <div class="left-side">
    <h1>Hello, Data Binding</h1>
    <router-outlet></router-outlet>
    
   </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <a class="pill" href="text-interpolation"><span>Text Interpolation</span></a>
        <a class="pill" href="property-binding"><span>Property Binding</span></a>
        <a class="pill" href="attribute-binding"><span>Attribute Binding</span></a>
        <a class="pill" href="two-way-binding"><span>TwoWay Binding</span></a>
        <a class="pill" href="event-binding"><span>Event Binding</span></a>
      </div>
    </div>
  </div>
</main>



 
